*{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
body{
  background:#080808;
  color:#fff;
}
#header{
  width:100%;
  height:100vh;
  background-image:url(pic2.jpg);
  background-size: cover;
  background-position:center;
}
.container{
     padding:10px 10%
}
nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo
{
  width: 100px;
}
nav ul li{
  display:inline-block;
  list-style:none;
  margin:10px 20px;
}
nav ul li a{
  color:white;
  text-decoration:navy;
  font-size: 18px;
  position:relative;
}
nav ul li a::after{
    content:'';
    width:0%;
    height:3px;
    background:red;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
  width:100%;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1{
  font-size:60px;
  margin-top: 20px;
}
.header-text h1 span{
  color:aqua;
}
/* --------about-------*/
#about{
  padding:80px 0;
  color: #ababab;
}
#about h1{
  color:white;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis:35%;
}
.about-col-1 img{
  width:100%;
  border-radius:15px;
}
.about-col-2{
  flex-basis:60%;
}
.sub-title{
  font-size:20px;
  font-weight:600;
  color:rgb(123, 87, 170);
}
.tab-titles{
  display:flex;
  margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
  content:'';
  width:0;
  height:3px;
  background: red;
  position:absolute;
  left:0;
  bottom:-8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width:50%;
}
.tab-contents ul li{
  list-style:none;
  margin:10px 0;
}
.tab-contents ul li span{
  color:red;
  font-size:14px;
}
.tab-contents{
  display:none;
}
.tab-contents.active-tab{
  display: block;
}
/*-----------projects--------------*/
#projects{
  padding:30px 0;
}
#projects h1{
  color:white;
}
.projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top:50px;
}
.projects-list div{
  background: #262626;
  padding: 40px;
  font-size:13px;
  font-weight:300;
  border-radius:10px;
  transition:background 0.5s,transform 0.5s;
}
.projects-list div i{
  font-size: 50px;
  margin-bottom:30px;
}
.projects-list div h2{
  font-size:30px;
  font-weight:500;
  margin-bottom:15px;
}
.projects-list div a{
  text-decoration:none;
  color:black;
  font-size:12px;
  margin-top:12px;
  display:inline-block;
}
.projects-list div:hover{
  background:red;
  transform:translateY(-10px);
}
/*-------Certifications------*/

#interest{
  padding:80px 0;
  color: #ababab;
} 
#interest h1{
  color:white;
}
#certificate{
   padding:50px 0;
}
#certificate h1{
  color:white;
}
.certificate-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top:50px;
}
.certificate{
  border-radius:10px;
  position:relative;
  overflow:hidden;
}
.certificate img{
  width:100%;
  border-radius:10px;
  display:block;
  transition: transform 0.5s;
}
.layer{
  width:100%;
  height:0;
  background:linear-gradient(rgba(0,0,0,0.6),red);
  border-radius:10px;
  position:absolute;
  left:0;
  bottom:0;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align:center;
  transition: height 0.5s;
}
.layer h3{
  font-weight:500;
  margin-bottom:20px;
}
.layer a{
  margin-top: 20px;
  color:red;
  text-decoration:none;
  font-size:18px;
  line-height:60px;
  background:greenyellow;
  width:60px;
  height:60px;
  border-radius:50%;
  text-align:center;
}
.certificate:hover img{
  transform: scale(1.1);
}
.certificate:hover .layer{
  height:100%;
}

/*------------------contact--------------------*/
.contact-left{
  flex-basis:35%;
}
.contact-left h1{
  color:white;
}
.contact-right{
  flex-basis:60%;
}
.contact-left p{
  margin-top:30px;
}
.contact-left p i{
   color:white;
   margin-right:15px;
   font-size:25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
   color:white;
   transform: translateY(-5px);
}
.btn{
  display:block;
  margin:50px auto;
  width:fit-content;
  border: 1px solid ;
  padding:14px 50px;
  border-radius: 6px;
  text-decoration:none;
  color:#fff;
  transition: background 0.5s;
}
.btn:hover{
  background:red;
}
.btn.btn2{
  display:inline-block;
  background:red;
}
.btn.btn2:hover{
  color:black;
  transform: translateY(-5px);
}
.contact-right form{
  width:100%;
}
form input,form textarea{
  width:100%;
  border:0;
  outline: none;
  background: #262626;
  padding:15px;
  margin:15px 0;
  color: #fff;
  font-size:18px;
  border-radius:6px;
}
form btn2{
  padding:14px;
  font-size:18px;
  margin-top:20px;
  cursor: pointer;
}
.copyright{
  width:100%;
  text-align: center;
  padding:25px 0;
  background:Gray;
  font-weight:300;
  margin-top:20px;
}
.copyright p{
  color:black
}
/* --------------------------css for small screens------------------------------------------------*/
nav .fas{
  display:none;
}

@media only screen and (max-width: 400px){
  #header{
    background-image: url(pic2.jpg);
  }
  .header-text{
    margin-top:100%;
    font-size:16px;
  }
  .header-text h1{
    font-size:30px;
  }
  nav .fas{
    display:block;
    font-size: 25px;
  }
  nav ul{
    background:#ff004f;
    position: fixed;
    top:0;
    right: -200px;
    width: 200px;
    height:100vh;
    padding-top:50px;
    z-index:2;
    transition:right 0.5s;
  }
  nav ul li{
    display:block;
    margin: 25px;
  }
  nav ul .fas{
    position:absolute;
    top:25px;
    left:25px;
    cursor:pointer;
  }
  .sub-title{
    font-size:40px;
  }
  .about-col-1 , .about-col-2{
    flex-basis:100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size:16px;
    margin-right:20px;
  }
  .contact-left, .contact-right{
     flex-basis:100%;
  }
  .copyright{
    font-size:14px;
  }
}
#msg{
  color:blueviolet;
  margin-top:-40px;
  display:block;
}
.card {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
